<main class='usage'>
  {{phone-input
  initialCountry='fr'
  number=number
  update=(action 'handleUpdate')}}

  <p>The internal phone number you'll want to persist on your backend is <span>\{{number}}: {{number}}</span>.</p>

  <p>In some cases, you may want to persist some additional metadata. The phone extension is available <span>\{{extension}} {{extension}}</span>. Are also available: the selected country name <span>\{{selectedCountryData.name}}: {{selectedCountryData.name}}</span>, the selected country ios2 code <span>\{{selectedCountryData.iso2}}: {{selectedCountryData.iso2}}</span>, the selected country dial code <span>\{{selectedCountryData.dialCode}}: {{selectedCountryData.dialCode}}</span>.</p>
  <p>You can also get validations infos from the component. Through <span>\{{isValidNumber}}: {{isValidNumber}}</span> you can provide your user with feedback on wether the number if valid or not.</p>
</main>
