<main>
  {{intl-tel-input
  initialCountry='fr'
  number=number
  update=(action 'handleUpdate')}}

  <ul>
    <li>\{{number}}: {{{if number number}}}</li>
    <li>\{{extension}}: {{{if extension extension}}}</li>
    <li>\{{selectedCountryData.name}}: {{{if selectedCountryData selectedCountryData.name}}}</li>
    <li>\{{selectedCountryData.iso2}}: {{{if selectedCountryData selectedCountryData.iso2}}}</li>
    <li>\{{selectedCountryData.dialCode}}: {{{if selectedCountryData selectedCountryData.dialCode}}}</li>
    <li>\{{isValidNumber}}: {{{if isValidNumber 'true' 'false'}}}</li>
    <li>\{{validationError}}: {{{if validationError validationError}}}</li>
  </ul>
</main>
