{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section 'Context'}}

    {{nav.item 'What is ember-intl-tel-input?' 'docs.index'}}
    {{nav.item 'Installation' 'docs.installation'}}

    {{nav.section 'Usage'}}

    {{nav.item 'Usage' 'docs.usage'}}
    {{nav.item 'Action handling' 'docs.action-handling'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
