{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section 'Getting started'}}

    {{nav.item 'Installation' 'docs.installation'}}
    {{nav.item 'Usage' 'docs.usage'}}
    {{nav.item 'Action handling' 'docs.action-handling'}}
    {{nav.item 'Lazy loading the scripts' 'docs.lazy-loading'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
